{% extends "home/html/template.html" %}
{% block content %}	
						
						<div class="col-md-10 lab-list-col-10">
							
							<!--edit -->
<h1 class="text-h2-lightblue">Message Authentication Code (CBC-MAC)</h1><div class="content" id="experiment-article-section-1-content">

<p>
		A Cipher Block Chaining Message Authentication Code (CBC-MAC), is a
		technique for constructing a message authentication code from a block
		cipher. 
	     </p>
<br>
<h3>About the experiment:</h3>
<p>In the experiment we provide a "dummy" block cipher (that is just a
		function and has none of the properties of a real block cipher) 
		and  ask you to use it to compute the CBC_MAC tag of an arbitrary
		message<br>
</br></p>
</br></div>						</div>
					</div>
			</div>
			<!-- =================================================================================================================================== -->
{% endblock %}